In [1]:
# normal function
def add(x):
    return(x+10)
add(10)

20

In [2]:
# how many arguments are there/
# what you are returning?    x+10

# <function-name>= lambda <argument_name>: <return_value>

add=lambda x:x+10
add(10)

20

In [3]:
def mul(num):
    return(num*num)

mul(5)

25

In [7]:
mul=lambda num:num*num
mul(5)

25

In [9]:
def cube(val):
    return(val*val*val)

cube(3)

27

In [4]:
cube=lambda val:val*val*val
cube(4)

64

# lambda functions with two arguments

In [5]:
def sum1(a,b):
    return(a+b)
sum1(10,20)

30

In [10]:
# <function_name> = lambda <argument_name>:<return_value>

sum1=lambda a,b:a+b

sum1(10,20)

30

In [11]:
def avg(a,b,c):
    return((a+b+c)/3)

avg(10,20,30)

20.0

In [13]:
def avg(a,b,c=100):
    return((a+b+c)/3)

avg(10,20,)

43.333333333333336

In [15]:
round(43.3333,2)

43.33

In [14]:
avg = lambda a,b,c=100: round((a+b+c)/3,2)
avg(10,20)

43.33

# lambda function with if-else

In [16]:
def greater(num1,num2):
    if num1>num2:
        return(num1)
    
    else:
        return(num2)
    
greater(50,100)

100

In [19]:
# <function-name>= lambda <arg1,arg2>: <if-output> <if_coond> else <else_output>
    
greater=lambda num1,num2: num1 if num1>num2 else num2

greater(100,200)

200

In [20]:
greater=lambda num1,num2: num1 if num1>num2 else num1

greater(100,200)

100

# lambda functions with list

In [21]:
#==========================method-1==============
list1=['hyd','mumbai','bengaluru']

#output: ['hyd','mumbai',bengaluru']
output=[]

for i in list1:
    output.append(i.capitalize())
    
output

['Hyd', 'Mumbai', 'Bengaluru']

In [6]:
#=============================method-2=======================
list1=['hyd','mumbai','bengaluru']

output=[i.capitalize() for i in list1]

output

['Hyd', 'Mumbai', 'Bengaluru']

In [ ]:
#============================method-3==with lambda===========

In [ ]:
lambda i:i.capiltalize()       #iterate the values

fun1=lambda x: x+10

fun2=lambda num : num*num

fun3=lambda a,b : a+b

fun4=lambda num1,num2: num1 if num1>num2 else num2

# map

In [8]:
list1=['hyd','mumbai','bengaluru']

lambda i:i.capiltalize(),list1

def abc(i):
    return(i.capitalize())

# lambda <var>: <output>, <list1/string/tuple>

In [9]:
list1=['hyd','mumbai','bengaluru']
list(map(lambda i:i.capitalize(), list1))

# step-1: <create a lambda function : lambda i: i.capitalize()
# step_2: add you riterator 

# step_1,step_2: lambda i: i.capitalize(),list1

# step-3: mapping of both step-1 and step-2

#          map(step1,step2)
#          map(lambda i: i.capitalize(),list1)
# step-4: you need to save the result again in a list or tuple

#    list(map(step1,step-2))
#    list(map(lambda i: i.capitallize().list1))

['Hyd', 'Mumbai', 'Bengaluru']

In [10]:
# what is meant by iterator===it means looping

# which data types you can iterate 

# which means which data types you can print by using for loop

string1="python"

# for  i in string1: print(i)

list1=[1,2,3,4]
for i in list1: print(i)
    
tuple1=(1,2,3,4)

1
2
3
4

In [24]:
val=reversed('python')
for i in val:
    print(i)

n
o
h
t
y
p

In [12]:
list1=[1,2,3,4]
# output: [1,2,3,4]

# create  a noramal function if it has a single value
# def square(num*num):

# square (10)

[num*num for num in list1]

list(map(lambda num:num*num,list1))

[1, 4, 9, 16]

In [45]:
list1=[1,2,3,4]

[num*num for num in list1]

[1, 4, 9, 16]

In [49]:
list(map(lambda num:num*num,list1))

[1, 4, 9, 16]

In [51]:
eval(input())

1,2,3,4

(1, 2, 3, 4)

# filter

In [55]:
list1=['hyd','biriyani','buvaneshwar','rasagulla']
list(map(lambda i:len(i)>3,list1))

[False, True, True, True]

In [13]:
l1=['hyd','biriyani','buvaneshwar','rasagulla']
list(filter(lambda i: len(i)>3,l1))

['biriyani', 'buvaneshwar', 'rasagulla']

In [14]:
l2=['biriyani','hyd','buvaneswar','rasagulla']

list(map(lambda i:len(i)>3,l2))

[True, False, True, True]

In [15]:
list1=['hyd','biriyani','odisha','buvaneshwar','rasagulla']

list(map(lambda i:len(i)>3,list1))

[False, True, True, True, True]

In [ ]:
# i========= >.capitalize()
for i in list1:
    print(i.capitalize(i))
    
# i =======> i*i

for i in list1:
    print(i*i)
    
# i ====> len(i)>3
for i in list1:
    if len(i)>3:
        print(i)

In [63]:
list1=['hyd','biriyani','buvaneshwar','rasagulla']

for i in list1:
    if len(i)>3:
        print(i)
        
# step-1:
list(filter(lambda i: len(i)>3,list1))

biriyani
buvaneshwar
rasagulla

['biriyani', 'buvaneshwar', 'rasagulla']

In [64]:
list1=['hyd','biriyani','buvaneshwar','rasagulla']

for i in list1:
    if len(i)>3:
        print(i)
        
# step-1:
tuple(filter(lambda i: len(i)>3,list1))

biriyani
buvaneshwar
rasagulla

('biriyani', 'buvaneshwar', 'rasagulla')

In [18]:
list1=['hy#d','biriy#ani','buvan#eshwar','rasagulla']
list(filter(lambda i: '#' in i,list1))

['hy#d', 'biriy#ani', 'buvan#eshwar']

In [20]:
list1=['hy#d','biriy#ani','buvan#eshwar','rasagulla']
list(filter(lambda i: '#' in i,list1))

list(filter(lambda i: '#' in i,list1))

list(map(step1,step2))

NameError: name 'step1' is not defined

In [ ]:
list1=[1,2,3,4,5,6]

#output: [{'even':[2,4,6],'odd':[1,3,5]}]
#output: [{1:'odd',2:'even'}]

In [21]:
list1=[1,2,3,4,5,6]
list(map(lambda i: {i:'even'} if i%2==0 else {i:'odd'},list1))

[{1: 'odd'}, {2: 'even'}, {3: 'odd'}, {4: 'even'}, {5: 'odd'}, {6: 'even'}]

In [27]:
l3=[1,2,3,4,5,6,7,8]
d1={}
d1['even']=list(filter(lambda i: i%2==0,l3))
d1['odd']=list(filter(lambda i: i%2!=0,l3))
d1

{'even': [2, 4, 6, 8], 'odd': [1, 3, 5, 7]}

In [30]:
list1=[1,2,3,4,5,6]
even=list(filter(lambda i: i%2==0,list1))
odd=list(filter(lambda i: i%2!=0,list1))
even,odd

([2, 4, 6], [1, 3, 5])